* {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}
.card {
  width: 320px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}
figure {
  padding: 10px 10px 0 10px;
}
figure img {
  width: 100%;
  border-radius: 10px;
}
h3 {
  text-align: center;
  padding: 20px;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
}

p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  margin: 0 30px;
  text-align: center;
}
